@inherits LayoutComponentBase

<PageTitle>Menu</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row d-flex align-items-center justify-content-between px-4">
            <h1>Management Central</h1>
            <a href="" target="_blank">Info</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
